section{
	margin: 1rem 1rem 0 1rem;
	background: blue;
	color: white;
	padding: 1rem;
}

@media (min-width: 30rem){
	section{
		margin: 0;
		box-sizing: border-box;
		width: 50%;
		float: left;
	}
}

@media (min-width: 60rem){
	section{
		margin: 0;
		box-sizing: border-box;
		width: 50%;
		float: left;
	}
}